# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
ENV/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Secrets
.env

# Outputs (optional)
export/

